<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Module_CinemaLibrary/layout}">
<head>
    <title th:text="|${movie.title} - Cinema Library|">Tytuł filmu - Cinema Library</title>
</head>
<body>
<div class="container">
    <main class="main-content" layout:fragment="content">
        <section class="movie">
            <div class="movie-summary">
                <img src="../../static/Module_CinemaLibrary/img/poster-placeholder.png"
                     th:src="@{/Module_CinemaLibrary/img/poster-placeholder.png}"
                     alt="Tytuł filmu"
                     th:alt="${movie.title}"
                     class="movie-summary-cover">

                <div class="movie-summary-info">
                    <h1 class="movie-summary-title" th:text="${movie.title}">Władca pierścieni</h1>
                    <p class="movie-summary-original-title" th:text="${movie.originalTitle}">Lord of the rings</p>
                    <p class="movie-summary-item" th:text="${movie.releaseYear}">Rok: 2001</p>
                    <p class="movie-summary-item">Gatunek:
                        <a href="#"
                           th:href="@{|/CinemaLibrary/gatunek/${movie.genre}|}"
                           th:text="${movie.genre}">Fantasy
                        </a>
                    </p>
                    <p class="movie-summary-item" th:text="${movie.shortDescription}">Podróż odważnego hobbita</p>

                </div>
            </div>
            <div class="movie-rating-container movie-section">
                <h2 class="movie-section-heading">Ocena</h2>
                <div>
                    <p class="movie-rating-value" th:text="${avgRating}">4.9</p>
                    <p style="text-align: center">Liczba ocen: 45156</p>
                </div>
                <form action="#" class="movie-rating-form">
                    <p>Dodaj ocenę</p>
                    <input type="hidden" name="movieId">
                    <div class="movie-rating-buttons">
                        <button class="movie-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="movie-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="movie-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="movie-rating-button"><i class="fa-solid fa-star"></i></button>
                        <button class="movie-rating-button"><i class="fa-regular fa-star"></i></button>
                    </div>
                </form>
                <p><a href="#">Zaloguj się</a>, aby oddać głos</p>
            </div>
        </section>

        <!--TRAILER  START-->
        <section class="movie-trailer-container movie-section">
            <h2 class="movie-section-heading">Trailer</h2>
            <iframe width="560" height="315" class="movie-trailer"
                    src="https://www.youtube.com/embed/V75dMMIW2B4"
                    th:src="|https://www.youtube.com/embed/${movie.youtubeTrailerId}|"
                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>
        <!--TRAILER END-->
        <section class="movie-section">
            <h2 class="movie-section-heading">Opis</h2>
            <p th:text="${movie.description}">Jak Frodo walczy ze złem</p>
        </section>
    </main>
</div>
</body>
</html>