<!DOCTYPE html>
<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Module_CinemaLibrary/layout}">
<head>
    <title>Strona nie istnieje - Cinema Library</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <div class="error-container">
        <h2 class="error-header">Strona nie istnieje</h2>
        <i class="fa-solid fa-face-frown error-icon"></i>
        <p>Strona nie została znaleziona</p>
        <h3>
            <a href="/">Powrót na stronę główną</a>
        </h3>
    </div>
</main>

</body>
</html>