<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona główna - lista modułów</title>
</head>
<body>
<h1>Lista modułów</h1>
<ul>
    <li>
        <a href="CinemaLibrary">Moduł Cinema Library #PRACE TRWAJĄ#</a>
    </li>
    <li>
        <a href="#">Moduł Shop #BRAK MODUŁU#</a>
    </li>
    <li>
        <a href="#">Moduł ERP #BRAK MODUŁU#</a>
    </li>
    <li>
        <a href="#">Moduł RPG game #BRAK MODUŁU#</a>
    </li>
    <li>
        <a href="#">Moduł Web Challenges #BRAK MODUŁU#</a>
    </li>
    <li>
        <a href="#">Moduł Fiszki do programowania #BRAK MODUŁU#</a>
    </li>

</ul>
</body>
</html>